/* Generic */
.hanzo-studio-button {
  display: flex;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  box-sizing: border-box;
  margin: 0;
  transition: box-shadow 0.1s;
}

.hanzo-studio-button:active {
  box-shadow: inset 1px 1px 10px rgb(0 0 0 / 0.5);
}

.hanzo-studio-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.primary .hanzo-studio-button,
.primary.hanzo-studio-button {
  background-color: var(--primary-bg) !important;
  color: var(--primary-fg) !important;
}

.primary .hanzo-studio-button:not(:disabled):hover,
.primary.hanzo-studio-button:not(:disabled):hover {
  background-color: var(--primary-hover-bg) !important;
  color: var(--primary-hover-fg) !important;
}

/* Popup */
.hanzo-studio-popup {
  position: absolute;
  top: var(--top);
  right: var(--right);
  bottom: var(--bottom);
  left: var(--left);
  z-index: 2000;
  max-height: calc(100vh - var(--limit) - 10px);
  box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 0.3);
}

.hanzo-studio-popup:not(.open) {
  display: none;
}

.hanzo-studio-popup.right.open {
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  overflow: hidden;
}
/* Split button */
.hanzo-studio-split-button {
  position: relative;
  display: flex;
}

.hanzo-studio-split-primary {
  flex: auto;
}

.hanzo-studio-split-primary .hanzo-studio-button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid var(--comfy-menu-bg);
  width: 100%;
}

.hanzo-studio-split-arrow .hanzo-studio-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 2px;
  padding-right: 2px;
}

.hanzo-studio-split-button-popup {
  white-space: nowrap;
  background-color: var(--content-bg);
  color: var(--content-fg);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.hanzo-studio-split-button-popup.hover {
  z-index: 2001;
}
.hanzo-studio-split-button-popup > .hanzo-studio-button {
  border: none;
  background-color: transparent;
  color: var(--fg-color);
  padding: 8px 12px 8px 8px;
}

.hanzo-studio-split-button-popup > .hanzo-studio-button:not(:disabled):hover {
  background-color: var(--comfy-input-bg);
}

/* Button group */
.hanzo-studio-button-group {
  display: flex;
  border-radius: 4px;
  overflow: hidden;
}

.hanzo-studio-button-group:empty {
  display: none;
}
.hanzo-studio-button-group > .hanzo-studio-button,
.hanzo-studio-button-group > .hanzo-studio-button-wrapper > .hanzo-studio-button {
  padding: 4px 10px;
  border-radius: 0;
}
